<!DOCTYPE html>
<!--[if lt IE 9]><html class="lt-ie9" lang="en" dir="ltr"><![endif]-->
<!--[if IE 9]><html class="ie9" lang="en" dir="ltr"><![endif]-->
<!--[if (gt IE 9)|(gt IEMobile 7)|!(IE)]<!-->
<html lang="en" dir="ltr">
 <!--<![endif]-->
<head lang="en" dir="ltr">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>@ViewBag.Title - ITG Custom Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @*@Styles.Render("~/Content/kendo/css")*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @*@Scripts.Render("~/bundles/kendo")*@

    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>*@
    <script type="text/javascript" src="/Scripts/html5shiv.js"></script>
    <script type="text/javascript" src="/Scripts/base.js"></script>
    @RenderSection("JavaScript", required: false)
    @*<style type="text/css">
        #printable {
            display: none;
        }

        @@media print {
            #non-printable {
                display: none;
            }

            #printable {
                display: block;
            }
        }
    </style>

    <style type="text/css" media="print">
        @@page {
            size: portrait; /* auto is the current printer page size */
            margin: 0mm; /* this affects the margin in the printer settings */
        }

        body
        {
            background-color:#FFFFFF;
            /*border: solid 1px black ;*/
            margin: 0px;  /* the margin on the content before printing */
            padding: 0.25in 0.5in;
       }
    </style>*@
</head>
<body class="front">
    <div id="non-printable">
        <p id="skip-links">
            <a href="#main" class="element-invisible element-focusable">Skip to content</a>
        </p>

        <div id="page">

            @*<?php include('inc/masthead.inc'); ?>*@
            @Html.Partial("MastHead")

            <section id="main">
                <div class="row clearfix">
                    <div class="region-main-top" id="content">
                        <div class="region region-content block-count-1 clearfix">
                            @RenderBody()
                        </div>
                    </div><!-- /#content -->
                    @*@* <h2 class="title" id="page-title">Testing single column</h2>*@

                    @*<div class="region-main-top" id="content">
                            <div class="region region-content block-count-1 clearfix">
                                <p>This is a sandbox site demonstrating the beta version of the new, basic GT theme. <a href="gt-v2-html.zip">Download sample code here</a>.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sapien euismod, pharetra ipsum ut, pellentesque lectus. Quisque turpis enim, hendrerit eget neque sit amet, pretium feugiat arcu. Donec bibendum dapibus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada ante a dui aliquet, ut luctus libero ullamcorper. Pellentesque lacus sem, sollicitudin at metus a, adipiscing placerat elit.</p>
                                <p>Nullam blandit in tortor a adipiscing. Maecenas mollis, risus at laoreet lobortis, enim nulla iaculis elit, et condimentum odio nulla ac sem. Mauris et diam id nisl fermentum cursus. Morbi ultrices molestie ante dapibus tristique.</p>
                            </div>
                        </div>*@<!-- /#content -->
                    @*<h2 class="title" id="page-title">Welcome To A Sandbox Site</h2>*@

                    @*<div class="sidebar-right one-sidebar" id="content">
                            <div class="region region-content block-count-1 clearfix">
                                <p>This is a sandbox site demonstrating the beta version of the new, basic GT theme. <a href="gt-v2-html.zip">Download sample code here</a>.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam quis sapien euismod, pharetra ipsum ut, pellentesque lectus. Quisque turpis enim, hendrerit eget neque sit amet, pretium feugiat arcu. Donec bibendum dapibus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada ante a dui aliquet, ut luctus libero ullamcorper. Pellentesque lacus sem, sollicitudin at metus a, adipiscing placerat elit.</p>
                                <p>Nullam blandit in tortor a adipiscing. Maecenas mollis, risus at laoreet lobortis, enim nulla iaculis elit, et condimentum odio nulla ac sem. Mauris et diam id nisl fermentum cursus. Morbi ultrices molestie ante dapibus tristique.</p>
                            </div>
                        </div>*@<!-- /#content -->
                    @*<aside id="sidebar-right" class="solo-sidebar">
                            <div class="region region-right block-count-1 clearfix">
                                <div class="block block-block">
                                    <div class="block-title-wrapper">
                                        <h4>Right Sidebar Block</h4>
                                    </div>
                                    <div class="content">
                                        <p>Nullam blandit in tortor a adipiscing. Maecenas mollis, risus at laoreet lobortis, enim nulla iaculis elit, et condimentum odio nulla ac sem.</p>
                                        <p>Mauris et diam id nisl fermentum cursus. Morbi ultrices molestie ante dapibus tristique. Suspendisse vel dictum nulla.</p>
                                    </div>
                                </div>
                            </div>
                        </aside>*@
                    @*<div id="content-close">
                            <div class="region region-content-close block-count-4 clearfix">
                                <div class="block block-block">
                                    <div class="block-title-wrapper">
                                        <h4>Test Block One</h4>
                                    </div>
                                    <div class="content">
                                        <p>Um sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Etiam nec suscipit ante. Morbi non lorem enim. Nam ut velit lorem. Etiam in turpis odio. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                    </div>
                                </div>
                                <div class="block block-block">
                                    <div class="block-title-wrapper">
                                        <h4>Test Block Two</h4>
                                    </div>
                                    <div class="content">
                                        <p>Quisque turpis enim, hendrerit eget neque sit amet, pretium feugiat arcu. Donec bibendum dapibus fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada ante a dui aliquet, ut luctus libero ullamcorper. Pellentesque lacus sem, sollicitudin at metus a, adipiscing placerat elit. Nullam blandit in tortor a adipiscing. Maecenas mollis, risus at laoreet lobortis.</p>
                                    </div>
                                </div>
                                <div class="block block-block">
                                    <div class="block-title-wrapper">
                                        <h4>Test Block Three</h4>
                                    </div>
                                    <div class="content">
                                        <p>Nunc vitae orci eget ligula mollis euismod fermentum ac est. Sed eget posuere magna. Ut feugiat neque eget mauris suscipit ultricies. Praesent bibendum nulla sed risus varius, vel elementum eros rhoncus. Quisque ultricies leo non lacus elementum semper. Integer semper molestie feugiat.</p>
                                        <p>Donec eget tortor eu nibh scelerisque rutrum. Nulla pellentesque quis nunc eget euismod.</p>
                                    </div>
                                </div>
                                <div class="block block-block">
                                    <div class="block-title-wrapper">
                                        <h4>Test Block Four</h4>
                                    </div>
                                    <div class="content">
                                        <p>Nullam eleifend ligula est. Proin sed tellus eu diam interdum cursus eget non tellus. Vestibulum a luctus odio. Praesent mi tortor, consequat nec blandit eget, aliquet gravida felis.</p>
                                        <p>Sed quis aliquam lorem. Ut sem sapien, porta id consequat non, rhoncus at turpis. Sed rutrum ornare egestas.</p>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </section><!-- /#main -->
            @*<?php include('inc/superfooter.inc'); ?>

                <?php include('inc/footer.inc'); ?>*@
            @*@Html.Partial("SuperFooter")*@
            @Html.Partial("Footer")

        </div><!-- /#page -->
    </div id="non-printable">
    <div id="printable">
        @RenderSection("PrintSummary", required: false)
    </div>
    
    @RenderSection("scripts", required: false)
</body>
</html>
