@model IEnumerable<API.Areas.Buzzcoin.Models.BuzzcoinUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Buzzcoin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Balance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastUpdated)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Balance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastUpdated)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApiKey }) |
            @Html.ActionLink("Details", "Details", new { id=item.ApiKey }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ApiKey })
        </td>
    </tr>
}

</table>
