@using System.Web.Mvc.Html
@model IEnumerable<API.Areas.RoleManager.Models.Permission>

@{
    ViewBag.Title = "Index";
    /*Layout = "~/Views/Shared/_itgLayout.cshtml";*/
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Permission
        </th>
        <th>
            Action
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Name
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id = item.Name}) |
            @Html.ActionLink("Details", "Details", new {id = item.Name}) |
            @Html.ActionLink("Delete", "Delete", new {id = item.Name})
        </td>
    </tr>
}

</table>
