@model API.Areas.RoleManager.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GTAccount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GTAccount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roles, "RolesList_Display")
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GTAccount }) |
    @Html.ActionLink("Back to List", "Index")
</p>
